

<html>
<head>
<meta charset="UTF-8">
	<title>DROGI</title>
	<link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body>
	<div id="app" class="grid-container">
		<div class="grid-item header">Drogi woj. pomorskiego CPR Gdańsk</div>
		<div class="grid-item droga"><input placeholder="droga" v-model="droga" autofocus></div>
		<div class="grid-item km"><input placeholder="km" v-model="km"></div>
		<div class="grid-item woj">{{ woj }} <br><em class="podpis">województwo</em> </div>
		<div class="grid-item pow">{{ pow }} <br><em class="podpis">powiat</em> </div>
		<div class="grid-item gm">{{ gm }} <br><em class="podpis">gmina</em> </div>
		<div class="grid-item mjs">{{ mjs }} <br><em class="podpis">miejscowość</em> </div>
		<div class="grid-item footer">
			Informacja drogowa GDDKiA 19111
			<br><em class="podpis">by Filip Rytelewski 2018</em>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="dane.js"></script>
<script type="text/javascript">
	var current = find("A118");

	function find(query) {
		for (var i = 0; i < dane.length; i++) {
			if (dane[i].id == query) { //.toUpperCase()
				return dane[i];
			}
		}
		return false;
	}

	function test() {
		console.log("test");
	}

	var app = new Vue({
		el: '#app',
		data: {
			droga: '',
			km: ''
		},
		computed: {
			woj: function () {
				current = find(this.droga+this.km);
	      return current.woj;
	    },
			pow: function () {
				current = find(this.droga+this.km);
				return current.pow;
			},
			gm: function () {
				current = find(this.droga+this.km);
				return current.gm;
			},
			mjs: function () {
				current = find(this.droga+this.km);
				return current.mjs;
			}
  }
});
</script>
</body>
</html>
